<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BirthdayApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BirthdayApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Users list", "UsersList", "Home")</li>
                    <li>@Html.ActionLink("AddCollectStatic", "AddCollectStatic", "Home")</li>
                    <li>@Html.ActionLink("ModelUsers", "Index", "ModelUsers")</li>
                    <li>@Html.ActionLink("MyProfile", "MyProfile", "ModelUsers")</li>
                    <li>@Html.ActionLink("ThisProfile", "ThisProfile", "ModelUsers", new { id = 2 }, null)</li>
                    <li>@Html.ActionLink("EditMe", "EditMe", "ModelUsers")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BirthdayApp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.pl-PL.js"></script>

    <script>
        $(document).ready(function () {
            $.culture = Globalize.culture("pl-PL");
            $.validator.methods.date = function (value, element) {

                return this.optional(element)
                    || Globalize.parseDate(value, "yyyy-MM-dd", "pl-PL");
            }
        });
    </script>
</body>
</html>
