@model PagedList.IPagedList<AppModels.User>
@using PagedList.Mvc;

@*@model IEnumerable<AppModels.User>*@

@{
    ViewBag.Title = "Lista użytkowników";
}

<h2>@ViewBag.Title</h2> 

<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        @if (ViewBag.IsAdmin)
        {
            <th>
                Entity Id
            </th>
            <th>
                Email
            </th>
            <th>
                Rola
            </th>
            <th>
                Data urodzenia
            </th>
        }
        <th>
            Data rejestracji
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        @if (ViewBag.IsAdmin)
        {
                <td>
                    @Html.DisplayFor(modelItem => item.EntityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAdd)
        </td>
        @if (ViewBag.IsAdmin)
        {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "UnActive", new { id = item.Id })
                </td>
        }
    </tr>
}

</table>

<br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page }))