@model AppModels.Collect

@{
    ViewBag.Title = "Details";
}
<link href="~/CSSstyle/mystyle.css" rel="stylesheet" />

<h2>Details</h2>

<div>
    <h4>Collect</h4>
    <hr />
    <h3>Zatwierdzenie zbiórki</h3>
    <p>W tabeli Collect utworzyć kolumnę o nazwie SelectedGift</p>
    <br />
    <table class="mytable">
        <tr>
            <td>
                <b>Nazwa zbiórki:</b>
            </td>
            <td>
                <b>Opis zbiórki:</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <td>
                <b>Zbiórkę założył:</b>
            </td>
            <td>
                <b>Zbieramy na prezent dla:</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Owner.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Recipient.Name)
            </td>
        </tr>

        <tr>
            <td>
                <b>Szacowana kwota prezentu to:</b>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Amount)
            </td>
            <td></td>
        </tr>
    </table>
    
    <br />
    Propozycje prezentów:
    <br />
    @using (Html.BeginForm())
    {
        <ol class="Opt">
            @foreach (var item in Model.CollectGifts2.OrderByDescending(i=>i.Rating))
            {
                <li class="Opt">
                    @Html.RadioButton("uniqueRadio", item.Id)
                    @Html.Label(item.Name + " (" + item.Rating + ")")
                </li>
            }
            </ol>

            
        
    
    <br />
    @Html.Raw("Szacowana kwota: ") @Html.DisplayFor(model => model.Amount)
    <br />
    @Html.Raw("Nowa kwota: ") <input type="text" name="fname">
    <br />
    @Html.Raw(ViewBag.mojakwota + "$")
    <br />
    <input type="submit" value="Zatwierdź prezent" />
    <br />
    @Html.ActionLink("Details2", "Details2", "Collects", new { id = Model.Id }, null)

    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
