@model AppModels.Collect

@{
    ViewBag.Title = "Details";
}
<link href="~/CSSstyle/mystyle.css" rel="stylesheet" />

<h2>Details</h2>

<div>
    <h4>Collect</h4>
    <hr />
    <p>Zrobić paginację do 10 w liście zrzutek</p>
    <p>Zrobić że nie widzisz zrzutki na siebie</p>
    <br />
    <table class="mytable">
        <tr>
            <td>
                <b>Nazwa zbiórki:</b>
            </td>
            <td>
                <b>Opis zbiórki:</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <td>
                <b>Zbiórkę założył:</b>
            </td>
            <td>
                <b>Zbieramy na prezent dla:</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Owner.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Recipient.Name)
            </td>
        </tr>

        <tr>
            <td>
                <b>Szacowana kwota prezentu to:</b>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Amount)
            </td>
            <td></td>
        </tr>
    </table>
    
    <hr />
    @Html.ActionLink("Dodaj propozycję prezentu", "Create2", "CollectGifts", new { id = Model.Id }, null)
    <br />
    @Html.ActionLink("Zarządzaj prezentami [as Admin]", "IndexById", "CollectGifts", new { id = Model.Id }, null)
    <br />
    Propozycje prezentów:
    <br />
    @using (Html.BeginForm())
    {
        <ol class="Opt">

            <li class="Opt">
                @Html.RadioButton("uniqueRadio", "0")
                @Html.Label("Null")
            </li>
            @foreach (var item in Model.CollectGifts2.OrderByDescending(i=>i.Rating))
            {
                <li class="Opt">
                    @Html.RadioButton("uniqueRadio", item.Id)
                    @Html.Label(item.Name + " (" + item.Rating + ")")
                </li>
            }
            </ol>

            <input type="submit" value="Save" />
        
    }
        <hr />
        Użytkownicy którzy są aktualnie w zbiórce:
        <br />
    <table class="mytable">
        <tr>
            <th>Użytkownik</th>
            <th>Czy zapłacił?</th>
        </tr>
        @foreach (var item in Model.CollectUsers2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GaveMoney)
                </td>
            </tr>
        }
    </table>
        <br />
    @Html.ActionLink("Opuść zbiórkę", "Delete2", "CollectUsers", new { id = Model.Id }, null)
    <br />
    @Html.ActionLink("Zarządzaj użytkownikami zbiórki [as Admin]", "Index", "UsersList", new { id = Model.Id }, null)
    <br />
    <br />
    <p>Zatwierdzone</p>
    @Html.ActionLink("Zatwierdź prezent [as Owner]*********", "Confirm", "Collects", new { id = Model.Id }, null)
    <br />
    @Html.ActionLink("Zarządzaj tym kto zapłacił [as Admin] [by Search] [lub zrobić rozwijaną liczbę jak w zarządzaniu użytkownikami zbiórki???]**********", "Index", "CollectUsers")
        <hr />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
