@model BirthdayApp.ViewModels.CollectViewModel

<link href="~/CSSstyle/mystyle.css" rel="stylesheet" />

@{
    ViewBag.Title = "Informacje o zbiórce";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <table class="mytable">
        <tr>
            <td>
                <b>Nazwa zbiórki:</b>
            </td>
            <td>
                <b>Opis zbiórki:</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <td>
                <b>Zbiórkę założył:</b>
            </td>
            <td>
                <b>Zbieramy na prezent dla:</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(model => model.RecipientName)
            </td>
        </tr>

        <tr>
            <td>
                <b>Szacowana kwota prezentu to:</b>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Amount)
            </td>
            <td></td>
        </tr>
    </table>

    <hr />

        </div>
        <p>
            @Html.ActionLink("Wróć do listy", "Index")
        </p>
