@model AppModels.Collect

@{
    ViewBag.Title = "Informacje o zbiórce";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Założyciel zbiórki:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            Zbieramy dla:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.Name)
        </dd>

        <dt>
            Nazwa zbiórki:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Opis zbiórki:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Kwota:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>&nbsp;</dt><dd>&nbsp;</dd>

        <dt>
            Użytkownicy którzy biorą udział w zbiórce
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Użytkownik</th>
                </tr>
                @foreach (var item in Model.CollectUsers2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Wróć do listy", "Index")
</p>
