@model IEnumerable<AppModels.Collect>

@{
    ViewBag.Title = "Lista zbiórek";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Utwórz nową zbiórkę", "Create2")
</p>

    <table class="table">
        <tr>
            <th>
                Założyciel zbiórki
            </th>
            <th>
                Zbieramy dla
            </th>
            <th>
                Nazwa zbiórki
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data inicjatywy
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderByDescending(i => i.DateOfAdd))
        {
            //The user does not see collections for him
            if (item.RecipientId != ViewBag.UserId) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfInitiative)
                </td>
                <td>
                    @if (item.OwnerId == ViewBag.UserId)
                    {
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                        <br />
                    }

                    @if (item.CollectUsers2.Any(i => i.UserId == ViewBag.UserId))
                    {
                            <div class="DetailsBackground">
                                @Html.ActionLink("Szczegóły zbiórki", "Details2", new { id = item.Id })
                            </div>
                        }
                        else
                        {
                            @Html.ActionLink("O zbiórce", "Details", new { id = item.Id })
                            @Html.Raw(" | ")
                            @Html.ActionLink("Dołącz do zbiórki", "Create2", "CollectUsers", new { id = item.Id }, null)
                        }
                    
                    
            </td>
            </tr>

            }
        }

    </table>



@section Scripts
{
    <style>
        .DetailsBackground {
            color: black;
            background-color: lightgreen;
        }
    </style>
}