@model IEnumerable<BirthdayApp.ViewModels.CollectListItem>

@{
    ViewBag.Title = "Lista zbiórek";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Utwórz nową zbiórkę", "Create2")
</p>

    <table class="table">
        <tr>
            <th>
                Założyciel zbiórki
            </th>
            <th>
                Zbieramy dla
            </th>
            <th>
                Nazwa zbiórki
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data inicjatywy
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfInitiative)
                </td>
                <td>
                    @if (item.OwnerId == item.UserId)
                    {
                        @Html.ActionLink("Edytuj", "Edit2", new { id = item.Id })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                        <br />
                    }

                    @if (item.YoureInCollection)
                    {
                            <div class="DetailsBackground">
                                @Html.ActionLink("Szczegóły zbiórki", "Details2", new { id = item.Id })
                            </div>
                    }
                    else
                    {
                        @Html.ActionLink("O zbiórce", "Details", new { id = item.Id })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Dołącz do zbiórki", "Create2", "CollectUsers", new { id = item.Id }, null)
                    }
                    
                    
            </td>
            </tr>
        }

    </table>



@section Scripts
{
    <style>
        .DetailsBackground {
            color: black;
            background-color: lightgreen;
        }
    </style>
}