
@{
    ViewBag.Title = "AddCollectStatic";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.xid</h3>
<h3>@ViewBag.userid</h3>
<h3>@ViewBag.cos</h3>

<p>Use this area to provide additional information.</p>
