<link href="~/Style/style.css" rel="stylesheet" />

@{
    ViewBag.Title = "UsersList";
}

<h2>UsersList</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.allUsersContext)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @Html.ActionLink("Edit Me", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
